.btn-default{
    color: #fff !important;
    background-color: #d9232d;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1px;
}

.form-control {
    border-radius: 0;
    padding: .5rem .10rem;
    
}
    .form-control:focus {
        border-color: #e25057;
        box-shadow: 0 0 0;
    }
.form-group{ margin-bottom:2rem;}
.footer a, .footer strong, .footer label {
    color: white;
}
.card{ border-radius:0;}